@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    font-family: Poppins;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #2F6158;
}

header img{
    padding: 16px;
    width: 10% ;
}

.addbtn{
  position: fixed; 
  top: 140px;
  right: 40px;
}

.addbtn button {
border: none;
background-color: #3f8f80;
color: white;
padding: 6%;  
cursor: pointer;
border-radius: 6px;
font-size: 16px;
width: 200px;
}

.addbtn button:hover {
background-color: #1a4d43;
transition: background-color 0.3s ease, color 0.3s ease;

}