<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fichas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/vfrequencia.css') }}">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">

</head>
    <body>
        
        <header>
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        </header>
       

            <h1>Frequências do Paciente</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Número de Sessões</th>
                    <th>Data</th>
                    <th>Assinatura</th>
                    <th>Horário de Atendimento</th>
                </tr>
            </thead>
            <tbody>
                {% for frequencia in frequencias %}
                <tr>
                    <td>{{ frequencia[0] }}</td>
                    <td>{{ frequencia[2] }}</td>
                    <td>{{ frequencia[3] }}</td>
                    <td>{{ frequencia[4] }}</td>
                    <td>{{ frequencia[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>

      